


     

     



        {% extends 'base.html' %}
         {% block content %}

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Les demandes de carburant</h1>
          <p class="mb-4">Description....</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom Prenom</th>
                      <th>Structure</th>
                      <th>Compte Analytique</th>
                      <th>Tel Privé</th>
                      <th>Tel Bureau</th>
                      <th>Type de carburant</th>
                      <th>Moyen d'alimentation</th>
                      <th>Traitement</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     <th>Nom Prenom</th>
                      <th>Structure</th>
                      <th>Compte Analytique</th>
                      <th>Tel Privé</th>
                      <th>Tel Bureau</th>
                      <th>Type de carburant</th>
                      <th>Moyen d'alimentation</th>
                      <th>Traitement</th>
                    </tr>
                  </tfoot>
                  <tbody>

                      {% for item in query_results %}
    <tr>
        <td>{{ item.nomPrenom }}</td>
        <td>{{ item.structure }}</td>
        <td>{{ item.compteAnalytique }}</td>
        <td>{{ item.telephonePv }}</td>
        <td>{{ item.telephoneBr }}</td>
        <td>{{ item.typeCarburant }}</td>
        <td>{{ item.alimentation }}</td>
        <td>
    <a href="{{ item.get_detail_url }}  ">
               <button class="btn btn-secondary" type="button" value="{{ item.id }}" >Traitement</button>
            </a>
        </td>
    </tr>
    {% endfor %}
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        {% endblock %}
