
   {% extends 'base.html' %}
   {% include static %}
             {% block content %}
           <div class="row">
           <div class="col-md-8">
               <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Les demande d'entretients</h1>
          <p class="mb-4">Description....</p>

           </div>
           <div class="col-md-4">
              <br>
              <a href="{% url 'etraite' %} ">
               <button class="btn btn-primary" type="button"  >Les demandes Traitées</button>
            </a>

          </div>
           </div>



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom Prenom</th>
                      <th>Service</th>
                      <th>Num d'immatriculation</th>
                      <th>Kilometrage</th>
                      <th>Type Véhicule</th>
                      <th>Marque Véhicule</th>
                      <th>Nom Prenom a contacter</th>
                      <th>Tel Privé</th>
                      <th>Tel Bureau</th>
                      <th>Description du besoin</th>
                      <th>Urgence</th>

                       <th>Traitement</th>

                     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     <th>Nom Prenom</th>
                      <th>Service</th>
                      <th>Num d'immatriculation</th>
                      <th>Kilometrage</th>
                      <th>Type Véhicule</th>
                      <th>Marque Véhicule</th>
                      <th>Nom Prenom a contacter</th>
                      <th>Tel Privé</th>
                      <th>Tel Bureau</th>
                      <th>Description du besoin</th>
                      <th>Urgence</th>

                      <th>Traitement</th>

                    </tr>
                  </tfoot>
                  <tbody>




                      {% for item in query_results %}
    <tr>
                      <th>{{ item.nomPrenom }}</th>
                      <th>{{ item.service }}</th>
                      <th>{{ item.immatriculation }}</th>
                      <th>{{ item.kilometrage }}</th>
                      <th>{{ item.marque }}</th>
                      <th>{{ item.type }}</th>
                      <th>{{ item.contactName }}</th>
                      <th>{{ item.telephonePv }}</th>
                      <th>{{ item.telephoneBr }}</th>
                      <th>{{ item.description }}</th>
                      <th>{{ item.urgence }}</th>
        {% if item.traite == False %}
        <th>
            <a href="#">
               <button class="btn btn-secondary" type="button" value="{{ item.id }} " onclick="{{ item.traitement }}" >Traitement</button>
            </a>
        </th>
        {% endif %}
    </tr>
    {% endfor %}


                  </tbody>
                </table>
              </div>
            </div>
          </div>

       {% endblock %}